<ion-view title="title">
    <ion-content has-header="true" has-tabs="true">
        <ion-slide-box on-slide-changed="slide(index)" active-slide="default">                        
            <ion-slide>
                <div class="tabs tabs-icon-bottom rel">
                    <a class="tab-item" href="" ng-click="goto(1)">
                        <b class="right">&#12297;</b>Search
                    </a>
                </div>
                <div class="list list-inset about">
                    <a ng-click="open('https://github.com/Arxk/twitchcast')" href="" class="item item-icon-left">View in GitHub</a>
                </div>
                <div class="list list-inset about">
                    <a ng-click="open('https://twitch.tv')" href="" class="item item-icon-left">Twitch Website</a>
                </div>
            </ion-slide>
            
            <ion-slide>
                <div class="tabs tabs-icon-bottom rel">
                    <a class="tab-item" href=""  ng-click="goto(0)">
                        <b class="left">&#12296;</b>More
                    </a>
                    <a class="tab-item" href=""  ng-click="goto(2)">
                        <b class="right">&#12297;</b>Login
                    </a>
                </div>
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" ng-model="input">
                    </label>
                    <div class="button-bar">
                        <a class="button" href="" ng-click="search(query, input)">Search</a>
                    </div>
                    <ion-radio ng-model="query" ng-value="'c'">Channels</ion-radio>
                    <ion-radio ng-model="query" ng-value="'g'">Games</ion-radio>
                    <ion-radio ng-model="query" ng-value="'s'">Streams</ion-radio>
                    <ion-radio ng-model="query" ng-value="'t'">Teams</ion-radio>
                    <ion-radio ng-model="query" ng-value="'f'">Following</ion-radio>
                </div>
            </ion-slide>
            
            <ion-slide>
                <div class="tabs tabs-icon-bottom rel">
                    <a class="tab-item" href="" ng-click="goto(1)">
                        <b class="left">&#12296;</b>Search
                    </a>
                </div>
                <div class="list list-inset">
                    <div class="item item-divider">
                        Authorize account:
                        <p>Access to only-subscribers videos</p>
                        <p>Get the live channels of your following list</p>
                    </div>
                    <div class="button-bar">
                        <a class="button tc-purple" href="" ng-click="authorize()">Authorize</a>
                    </div>
                    <label class="item item-input">
                        <input type="text" ng-model="access_token" readonly />
                    </label>
                    <div class="button-bar">
                        <a class="button" href="" ng-click="token()">{{button}}</a>
                    </div>
                </div>
                <div class="list-inset note">
                    If you don't get a token after 2-5sec try again or refresh the page.<br/>
                    You can manage your conections on: <a ng-click="open('http://www.twitch.tv/settings/connections')" href="">http://www.twitch.tv/settings/connections</a>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>